-i https://pypi.org/simple
click==7.0
confluent-kafka==1.2.0
flasgger==0.9.3
flask==1.1.1
gunicorn==20.0.4
itsdangerous==1.1.0
jinja2==2.10.3
jsonschema==2.6.0
markupsafe==1.1.1
mistune==0.8.4
numpy==1.17.4
pandas==0.25.3
prometheus-client==0.7.1
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.1.2
six==1.13.0
werkzeug==0.16.0
