simulator/scripts/setenv.sh
ml/.ipynb_checkpoints/
simulator/__pycache__/
simulator/api/__pycache__/
simulator/domain/__pycache__/
simulator/infrastructure/__pycache__
simulator/templates/
simulator/certs/
scoring/webapp/__pycache__/
scoring/webapp/infrastructure/__pycache__
scoring/webapp/domain/__pycache__
scoring/templates/
scoring-mp/.vscode/
scoring-mp/target/
consumer/__pycache__/
certs/*.pem
certs/ocp/*.pem
scoring/eventConsumer/*.pem
scoring/eventConsumer/__pycache__/
scoring/eventConsumer/infrastructure/__pycache__
scoring/eventConsumer/domain/__pycache__
site/
docker/postgres-data/
docker/kafka1/
docker/zookeeper1/
scripts/setenv.sh
.vscode/
.postgresql/
.local/
jovyan/
work/

# Jupyter temp files
**/.ipynb_checkpoints

# Vim temp files
**/.*.swp

