# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

**/setenv.sh
simulator/templates/

**/*.pem

scoring/templates/
scoring-mp/.vscode/
scoring-mp/target/
site/
docker/postgres-data/
docker/kafka1/
docker/zookeeper1/
simulator/kaf/
.vscode/
.postgresql/
.local/
work/

# Jupyter temp files
**/.ipynb_checkpoints

# Vim temp files
**/.*.swp

#appsody files
simulator/app-deploy.yaml
