<server description="Liberty server">
    <featureManager>
        <feature>microProfile-3.0</feature>
        <!-- Reactive messaging and reactive streams -->
        <feature>mpReactiveMessaging-1.0</feature>
        <feature>mpReactiveStreams-1.0</feature>
        <!-- To read configuration -->
        <feature>mpConfig-1.3</feature>
    </featureManager>
    <!-- Different Logging setups for development purposes
    <logging traceSpecification="REACTIVEMESSAGE=all:org.apache.kafka.*=all" consoleFormat="json" consoleSource="message,trace,accessLog,ffdc"/>
    <logging traceSpecification="REACTIVEMESSAGE=all:org.apache.kafka.*=all"/>
    <logging traceSpecification="*=info:logservice=detail:REACTIVEMESSAGE=all:REACTIVESTREAMS=all:com.ibm.ws.microprofile.reactive.streams.operators.*=all:com.ibm.ws.microprofile.reactive.messaging.kafka.adapter.impl.*=FINEST:org.apache.kafka.*=all"/>-->
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>
    <httpEndpoint host="*" httpPort="9080" 
        httpsPort="9443" id="defaultHttpEndpoint"/>
</server>